N8N_FQDN=n8n.internal.local
N8N_HTTP_PORT=8080
N8N_HTTPS_PORT=8443
N8N_TIMEZONE=Europe/Paris

N8N_IMAGE=n8nio/n8n:2.26.9
POSTGRES_IMAGE=postgres:17-alpine
CADDY_IMAGE=caddy:2.11-alpine

POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change-me

N8N_RUNNERS_ENABLED=true

N8N_ENCRYPTION_KEY=change-me-please-use-a-strong-random-value
